<mat-toolbar color="accent">
  <span class="title-center">Registracija</span>
</mat-toolbar>
<p>
  <mat-card  class="mat-card-container" >
     <mat-card-content>
       <form action="" #loginForm="ngForm" (ngSubmit)="login(loginForm)">
          <img src="/assets/img/logo1.png" class="mx-auto d-block img">
            <br/><br/>
            <h2>Unesite podatke</h2>
            <div *ngIf="invalidLogin" class="alert alert-danger"><h5 class="h5">Neispravno korisnicko ime ili lozinka.</h5></div>

              <mat-form-field appearance="fill">
              <mat-label for = "ime">Ime</mat-label>
              <input matInput type="text"  name="ime" [(ngModel)]="credentials.imeUser"
                      class="form-control" placeholder="Ime" required>
              </mat-form-field>

                <mat-form-field appearance="fill">
                  <mat-label for = "prezime">Prezime</mat-label>
                  <input matInput type="text"  name="prezime" [(ngModel)]="credentials.prezimeUser"
                          class="form-control" placeholder="Prezime" required>
                  </mat-form-field>

                    <mat-form-field appearance="fill">
                      <mat-label for = "telefon">Telefon</mat-label>
                      <input matInput type="text"  name="telefon" [(ngModel)]="credentials.telefonUser"
                              class="form-control" placeholder="Telefon" >
                      </mat-form-field>

                        <mat-form-field appearance="fill">
                          <mat-label for = "email">Email</mat-label>
                          <input matInput type="text"  name="email" [(ngModel)]="credentials.emailUser"
                                  class="form-control" placeholder="Email" required>
                          </mat-form-field>

                <mat-form-field appearance="fill">
                  <mat-label for = "username">Korisničko ime</mat-label>
                  <input matInput type="username"  name="username" [(ngModel)]="credentials.korisnickoImeUser"
                          class="form-control" placeholder="User Name" required>
                  </mat-form-field>

                  <mat-form-field appearance="fill">
              <mat-label for="password" class="sr-only">Lozinka</mat-label>
              <input matInput type="password"  name="password" [(ngModel)]="credentials.lozinkaUser"
                      class="form-control" placeholder="Password" required>
              </mat-form-field>

            <button mat-button mat-flat-button color="accent" type="submit" [disabled]="!loginForm.valid">Registracija</button>
        </form>
        </mat-card-content>
</mat-card>
