<mat-toolbar color="accent">
  <span class="title-center">Cvetni aranzman</span>
</mat-toolbar>
<div class="container mat-elavation-z8">

  <ng-container >
    <mat-form-field>
      <input
        matInput
        placeholder="Pretraga cvetnih aranzmana..."
        (keyup)="applyFilter($any($event.target).value)">
    </mat-form-field>
  </ng-container>


  <mat-table #table matSort [dataSource]="dataSource" class="mat-cell">


    <ng-container matColumnDef="idCvetnogAranzmana">
      <mat-header-cell *matHeaderCellDef mat-sort-header>ID</mat-header-cell>
      <mat-cell *matCellDef="let row">{{ row.cvetniAranzmanID }}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="nazivAranzmana">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Naziv</mat-header-cell>
      <mat-cell *matCellDef="let row">{{ row.nazivAranzmana }}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="cenaAranzmana">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Cena</mat-header-cell>
      <mat-cell *matCellDef="let row">{{ row.cenaAranzmana }} RSD</mat-cell>
    </ng-container>

    <ng-container matColumnDef="opisAranzmana">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Opis</mat-header-cell>
      <mat-cell *matCellDef="let row">{{ row.opisAranzmana }}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="pakovanje">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Pakovanje</mat-header-cell>
      <mat-cell *matCellDef="let row">{{ row.pakovanje.nazivPakovanja }}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="actions">
      <mat-header-cell *matHeaderCellDef>
        <button *ngIf="!isRole()" (click)="openDialog(1)" mat-icon-button color="accent">
          <mat-icon>add</mat-icon>
        </button>
      </mat-header-cell>
      <mat-cell *matCellDef="let row; let i = index">
        <button (click)="shop(row)" mat-icon-button color="accent" [disabled]="!isUserAuthenticated()">
          <mat-icon aria-label="Shop">shopping_basket</mat-icon>
        </button>
        <button *ngIf="!isRole()" (click)="openDialog(2, row.cvetniAranzmanID, row.nazivAranzmana, row.cenaAranzmana, row.opisAranzmana, row.kolicina, row.pakovanjeID)" mat-icon-button color="accent">
          <mat-icon aria-label="Edit">edit</mat-icon>
        </button>
        <button *ngIf="!isRole()" (click)="openDialog(3, row.cvetniAranzmanID, row.nazivAranzmana, row.cenaAranzmana, row.opisAranzmana, row.kolicina, row.pakovanjeID)" mat-icon-button color="accent">
          <mat-icon aria-label="Delete">delete</mat-icon>
        </button>
      </mat-cell>
    </ng-container>
    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row style="cursor: pointer"
    *matRowDef="let row; columns: displayedColumns;" (click)="selectRow(row)"></mat-row>
  </mat-table>
  <mat-paginator
    [length]="100"
    [pageSize]="5"
    [pageSizeOptions]="[5,10,25,100]">
  </mat-paginator>
</div>
